html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    text-align: center;
    font-size: 3rem;
    color: #999;
}

.name {
    color: #333;
}

.galleryContentContainer {
    container-type: inline-size;
}

.galleryContentFlow {
    justify-content: center;
    display: flex;
    space-between: 0px;
    gap: 0px;
    flex-direction: column;
}

.galleryContentFlowBig {
    justify-content: flex-start;
    display: flex;
    gap: 5px;
    flex-direction: row;
    max-width: 540px;
    min-width: 0px;
    flex-wrap: wrap;
}

.topRightedElementL {
    margin: 0;
    position: absolute;
    top: 30%;
    right: -5%;
    transform: translate(-50%, -50%);
}

.topRightedElement {
    margin: 0;
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.centeredElement {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideTitle {
    font-family: Arial;
    /*margin-top: 0;*/
}

.slideDesc {
    font-family: Arial;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
}

.slideButton {
    border-radius: 30px;
    font-family: Arial;
    color: black;
    background-color: white;
    font-size: 16px;
    padding-bottom: 0px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin-top: 20px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.fadeInFromDown {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introSection {
    justify-content: center;
    display: flex;
    gap: 0px;
    flex-direction: column;
    background: rgb(243, 243, 246);
}

/*

    if componentData.useMobileLayout then
        [ style "justify-content" "center"
        , style "display" "flex"
        , style "gap" "0px"
        , style "flex-direction" "column"
        , style "background" "rgb(243, 243, 246)"
        ]

    else
      []
  {-}
        [ style "justify-content" "flex-start"
        , style "display" "flex"
        , style "gap" "0px"
        , style "flex-direction" "row"
        , style "background" "rgb(243, 243, 246)"
        ]
-}*/
